body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color:#66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}  
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.74rem;
    padding: 20px 0;
}
.profile{
    width: 30%;
    margin: 50px auto;
    line-height: 2;
}
.profile-pic{
    height: 200px;
    width: 200px;
}
.top-Container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 5px;
}
.pro{
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

.middle-container{


}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
    
}
.mountain{
    height: 600px;
    width: 920px;
    position: relative;
    bottom: 70px;
   
}

.bottom-cloud{
    position: absolute;
    height: 100px;
    left:400px;
}
.top-cloud{
    position: absolute;
    height: 180px;
    right: 60px;
}
.skill-row{
    width: 50%;
    margin: 50px auto;
    line-height: 2;
    text-align: left;
}
.skills-1{
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 30px;
}
.skills-2{
    height: 150px;
    width: 150px;
    float: right;
    margin-left: 30px;
}
.contact-me{
    padding: 50px 0 50px;
}
.btn {
    
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
